{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/tagify.css' %}">
<script src="{% static 'js/jQuery.tagify-2.30.0.min.js' %}"></script>

<ul>
  <li>
    <a href="{% url 'wui:index' %}">Index</a>
  <li>
    <a href="{% url 'wui:new_image' %}">Upload New Image/s</a>
  <li>
    <a href="{% url 'wui:list_image' %}">Browse Images</a>
</ul>
